.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px;
}

.title{
  align-self: center;
}

.button {
  margin: 10px 0 0 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}